@tailwind base;
@tailwind components;
@tailwind utilities;

.varela {
  font-family: "Montserrat", sans-serif;
}
.poppins {
  font-family: "Poppins", sans-serif;
}
.ReactJS {
  background-color: rgb(136, 136, 241);
}
.python {
  background-color: rgb(73, 226, 132);
}
.SQLite {
  background-color: rgb(243, 153, 78);
}
.Dash {
  background-color: rgb(230, 74, 113);
}

.card {
  background-color: var(--background);
  display: block;
  width: 300px;
  min-height: 90px;
  border: 3px solid var(--border);
  padding: 15px;
  margin: calc(50vh - 30px) auto 0 auto;
  box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--border),
    20px -20px 0 -3px var(--background), 20px -20px var(--border),
    30px -30px 0 -3px var(--background), 30px -30px var(--border),
    40px -40px 0 -3px var(--background), 40px -40px var(--border);
  transition: box-shadow 1.5s, top 1.5s, left 1.5s;
  position: absolute;
  top: -40px;
  right: 200px;
}

.card:hover {
  top: -70px;
  right: 180px;
  box-shadow: 0 0 0 -3px var(--background), 0 0 0 0 var(--border),
    0 0 0 -3px var(--background), 0 0 0 0 var(--border),
    0 0 0 -3px var(--background), 0 0 0 0 var(--border),
    0 0 0 -3px var(--background), 0 0 0 0 var(--border);
}

:root {
  --primary: rgb(55, 48, 163);
  --secondary: #22d2a0;
  --background: rgb(243, 244, 246);
  --green: #1fc11b;
  --yellow: #ffd913;
  --orange: #ff9c55;
  --red: #ff5555;
  --black: #000000;
  --border: rgb(55, 48, 163);
}

body {
  background-image: radial-gradient(
    var(--secondary) 30%,
    var(--background) 30%
  );
  background-size: 2px 3px;

  color: var(--black);
}

.card p {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 14px;
}
